<div id="index">
  <h1>Account Login</h2>
  <form action="/login" method="POST" id="login-form">
    <input type="email" name="email" placeholder="email" required>
    <input type="text" name="password" placeholder="password" required>
    <button id="sign-in-button">Sign in</button>
  </form>
  <h3 id="error">{{ error }}</h3>
</div>