<div id="index">
  <h1>Account Login</h2>
  <input type="email" name="email" placeholder="email">
  <input type="text" name="password" placeholder="password">
  <button id="sign-in-button">Sign in</button>
</div>